<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passwort ändern</title>
  <link rel="stylesheet" href="/css/profile_style.css">
</head>
<body>
<div class="container">
  <h1>Passwort</h1>
  <form action="/change-password" method="post">
    <label for="oldPassword">Altes Passwort</label>
    <input type="password" id="oldPassword" name="oldPassword" required>

    <label for="newPassword">Neues Passwort</label>
    <input type="password" id="newPassword" name="newPassword" required>

    <label for="confirmPassword">Passwort bestätigen</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>

    <button type="submit">Änderungen Speichern</button>
    <a href="/profile">Verwerfen</a>
  </form>

  <p th:if="${error}" th:text="${error}" style="color: red;"></p>

</div>
</body>
</html>



