<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div class="container mt-5 text-center">
  <h1 class="text-danger">Etwas ist schiefgelaufen!</h1>
  <p>Entschuldigung, es ist ein unerwarteter Fehler aufgetreten</p>
  <ul th:if="${validationErrors != null}">
    <li th:each="error : ${validationErrors}">
      <strong th:text="${error.key}"></strong>: <span th:text="${error.value}"></span>
    </li>
  </ul>

  <p th:if="${errorMessage != null}" th:text="${errorMessage}"></p>
  <a href="/" class="btn btn-primary mt-3">Zurück zur Startseite</a>
</div>
</body>
</html>